{% extends "parent.html" %}
{% load static %}

{% block content %}
<h2>OEE Dashboard</h2>

<form
    id="dateForm"
    hx-post="{% url 'prod_query:oee_dashboard' %}"
    hx-target="#result"
    hx-swap="innerHTML"
>
    <label for="start">Start datetime:</label>
    <input
        type="text"
        id="start"
        name="start"
        class="datetime"
        required
    >

    <label for="end">End datetime:</label>
    <input
        type="text"
        id="end"
        name="end"
        class="datetime"
        required
    >

    <button type="submit">Submit</button>
</form>

<div id="result" style="margin-top: 20px;"></div>


<script>
    flatpickr(".datetime", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true
    });
</script>
{% endblock %}
